.author {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-bg-base);
  padding: 56px 0;

  &__wrap {
    background-color: var(--color-bg-white);
    padding: 32px;
  }

  &__progress-bar {
    padding: 0 32px;
    margin: 16px 0 32px 0;
  }

  &__progress-label {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__progress-track {
    width: 100%;
    height: 10px;
    background-color: var(--color-bg-gray);
    border-radius: 5px;
    overflow: hidden;
  }

  &__progress-fill {
    height: 100%;
    width: 0;
    background-color: var(--color-bg-reading-progress);
    animation: fillBar 1.5s ease-out forwards;
  }

  @keyframes fillBar {
    from {
      width: 0;
    }
    to {
      width: var(--progress-width);
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }

  &__year-group {
    display: flex;
    border-top: 1px solid var(--color-border-base--light);
    padding: 16px 24px;
  }

  &__year {
    width: 140px;
    font-family: var(--font-family-number);
    font-size: 24px;
    font-weight: 400;

    &--unknown {
      font-family: var(--font-family-base);
      font-size: 16px;
    }
  }

  &__book-list {
    width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__book-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    width: 50%;
    gap: 16px;
  }

  &__thumbnail-img {
    display: block;
    width: 60px;
    height: auto;
    border-radius: 4px;
  }

  &__title {
    width: calc(100% - 76px);
  }

  &__status {
    width: 10%;
  }

  &__status-content {
    width: 100%;
    justify-content: center;
  }

  &__citation-count {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  &__citation-text {
    font-size: 14px;

    &--blank {
      display: block;
      color: var(--color-font-gray);
      font-size: 12px;
    }
  }

  &__read-at {
    font-size: 14px;
    white-space: nowrap;
    width: 20%;
    text-align: right;

    &--blank {
      display: block;
      visibility: hidden;
    }
  }

  &__input-button {
    font-size: 0.8rem;
    color: #0077cc;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}