// responsive done

.book-detail {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 0 $rem-56 0;
  background-color: var(--color-bg-base);

  @include mq('tab-up') {
    padding: 3rem 0;
    gap: 1.5rem;
  }

  &__wrap {
    background-color: var(--color-bg-white);
    position: relative;
    width: 100%;
    padding: $rem-28 $rem-16;

    @include mq('tab-up') {
      width: 90%;
      padding: 2rem;
    }

    &:nth-child(2) {
      margin-top: $rem-16;

      @include mq('tab-up') {
        margin-top: 0;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $rem-20;

    @include mq('tab-up') {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__image {
    width: 180px;
    flex-shrink: 0;

    @include mq('tab-up') {
      width: 20%;
    }
  }

  &__image-img {
    display: block;
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: $rem-16;
  }

  &__description {
    margin: $rem-16 0 $rem-56 0;
  }

  &__description-title {
    display: block;
    color: var(--color-font-gray);
    font-size: $rem-12;
    margin-bottom: $rem-4;
  }

  &__date-wrap {
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin-top: $rem-8;

    @include mq('tab-up') {
      bottom: 24px;
      right: 32px;
    }
  }

  &__date {
    font-size: $rem-12;
    color: var(--color-font-gray);

    @include mq('tab-up') {
      font-size: 0.875rem;
    }
  }


  &__comment {
  padding-left: $rem-8;
  margin-top: $rem-32;
  border-left: 2px solid var(--color-border-base);

  @include mq('tab-up') {
      margin-top: 1.5rem
    }
  }

  &__comment-date {
    font-size: $rem-12;
    color: var(--color-font-gray);
  }

  &__edit-btn {
    display: inline-block;
    margin-left: $rem-8;
    font-size: $rem-12;
    border-bottom: 1px solid var(--color-font-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }

  &__comment-form {
    margin-top: $rem-8;
  }

  &__link-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: $rem-20;

    @include mq('tab-up') {
      margin-top: 0;
    }
  }
}