.book-detail {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-bg-base);
  padding: 56px 0;

  &__wrap {
    background-color: var(--color-bg-white);
    padding: 32px;
  }

  &__info {
    display: flex;
    gap: 24px;
  }

  &__image {
    width: 20%;
    flex-shrink: 0;
  }

  &__image-img {
    display: block;
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // 読書状況
  &__status-label-wrap {
    display: flex;
    align-items: center;
  }

  &__status-label {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.08em;
    border-radius: 4px;
    padding: 0 4px;

    &--read {
      color: var(--color-font-read);
      border: 1px solid var(--color-font-read);
    }

    &--unread {
      color: var(--color-font-unread);
      border: 1px solid var(--color-font-unread);
    }

    &--stacked {
      color: var(--color-font-stacked);
      border: 1px solid var(--color-font-stacked);
    }

    &--unset {
      color: var(--color-font-base);
      border: 1px solid var(--color-font-base);
    }
  }

  // 読書状況変更ボタン
  &__status-edit-wrap {
    position: relative;
  }

  &__edit-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 4px;
  }

  &__edit-icon-svg {
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
      }
    }
  }

  &__status-form {
    font-size: 14px;
    position: absolute;
    top: 10%;
    left: 32px;
    z-index: 10;
  }

  &__status-submit {
    font-size: 12px;
    border-bottom: 1px solid var(--color-border-base);
    margin-left: 24px;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }

  // 出版年入力フォーム
  &__published-date-label {
    display: inline-block;
    color: var(--color-font-gray);
    font-size: 14px;
    margin: 8px 0 4px 0;
  }

  &__published-date-selects {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  &__published-date-select {
    font-size: 12px;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 8px;

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--color-border-base);
      }
    }
  }

  &__published-date-submit {
    font-size: 12px;
    border-bottom: 1px solid var(--color-border-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }

  &__description {
    margin-top: 16px;
  }

  &__description-title {
    display: block;
    color: var(--color-font-gray);
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__created-at {
    font-size: 14px;
    color: var(--color-font-gray);
    text-align: right;
    margin-top: 8px;
  }


  &__comment {
  padding-left: 8px;
  border-left: 2px solid var(--color-border-base);
  margin-top: 24px;
  }

  &__comment-date {
    font-size: 12px;
    color: var(--color-font-gray);
  }

  &__edit-btn {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid var(--color-font-base);
    margin-left: 8px;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }

  &__comment-form {
    margin-top: 8px;
  }
}

.book-detail__publish-form {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
