/* -------------------- */
/* scroll-snap */
/* -------------------- */
body.is-home main {
  height: 100vh;
  margin-top: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: auto;

  @include mq('sp') {
    scroll-snap-type: none;
    scroll-padding-top: 0;
  }
}

.home-scroll-snap {
  width: 100vw;
  height: calc(100vh - 64px);
  scroll-snap-align: start;
  scroll-snap-stop: always;

  @include mq('sp') {
    scroll-snap-align: none;
    scroll-snap-stop: initial;
    height: auto;
  }
}

/* -------------------- */
/* fade-in */
/* -------------------- */
.js-fade-in {
  opacity: 0;
  transform: rotateX(-10deg) translateY(40px);
  transform-origin: top center;
  transition: all 1.2s ease;

  &.is-active {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
  }
}

/* -------------------- */
/* home-kv */
/* -------------------- */
.home-kv {
  position: relative;
  height: calc(100vh - 48px);
  margin-top: 48px;
  font-family: var(--font-family-serif);
  color: var(--color-font-white);

  @include mq('tab-up') {
    margin-top: 64px;
  }

  &__inner {
    height: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadein 1.8s ease-out forwards;

    @include mq('tab-up') {
      top: 45%;
    }
  }

  &__title {
    margin-bottom: $rem-16;
    font-size: $rem-40;
    font-weight: normal;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: titleIn 1.2s ease-out 0.2s forwards;

    @include mq('tab-up') {
      margin-bottom: 0.5rem;
      padding-left: 0.1em;
      font-size: 3rem;
    }
  }

  @keyframes titleIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  &__subtitle {
    display: block;
    font-size: $rem-24;
    letter-spacing: 0.08em;
    line-height: 1.0;

    @include mq('tab-up') {
      display: inline-block;
      padding-left: $rem-12;
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  &__catch-copy {
    padding-left: 0.1em;
    font-size: $rem-16;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
    opacity: 0;
    animation: fadein 1.5s ease-out 1.2s forwards;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

/* -------------------- */
/* home-about */
/* -------------------- */
.home-about {
  font-family: var(--font-family-serif);
  color: var(--color-font-white);
  background-color: var(--color-bg-dark);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $rem-8;
    height: 100%;

    @include mq('tab-up') {
      gap: 0
    }
  }

  &__intro {
    margin-top: $rem-16;
  }

  &__text {
    text-align: center;
    line-height: 2.0;

    @include mq('tab-up') {
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }

  &__span {
    @include mq('sp') {
      display: block;
    }
  }
}

/* -------------------- */
/* home-how-to */
/* -------------------- */
.home-how-to {
  font-family: var(--font-family-serif);
  background-color: var(--color-bg-white);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $rem-32;
    height: 100%;

    @include mq('tab-up') {
      gap: 2.5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $rem-40;
    width: 100%;

    @include mq('tab-up') {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $rem-4;
    position: relative;
    width: 100%;
    line-height: 1.7;

    @include mq('tab-up') {
      gap: 0.5rem;
      width: 31%;
    }
  }

  &__title {
    width: 100%;
    font-size: $rem-16;
    font-weight: bold;
    text-align: center;

    @include mq('tab-up') {
      font-size: 1.25rem;
      font-weight: normal;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: $rem-8;
  }

  &__description {
    width: 100%;
    text-align: center;
  }

  &__span {
    display: block;

    &--small {
      margin-bottom: $rem-4;
      font-size: $rem-12;

      @include mq('tab-up') {
        font-size: 0.75rem;
      }
    }
  }
}

/* -------------------- */
/* home-search */
/* -------------------- */
.home-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-serif);
  background-color: var(--color-bg-gray);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $rem-24;
    height: 100%;
  }
  
  &__search {
    justify-content: center;
  }

  &__lead {
    margin-top: $rem-24;
    letter-spacing: 0.1em;
  }

  &__span {
    display: block;
  }

  &__cta {
    position: relative;
    padding-right: $rem-48;
    font-size: $rem-16;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: opacity 0.3s ease;

    @include mq('tab-up') {
        font-size: 1.5rem;
      }

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      background-color: var(--color-font-base);
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    &::before {
      top: calc(50% - 4px);
      width: 12px;
      height: 1px;
      transform: translateX(-8px) rotate(30deg);
      opacity: 0;
    }

    &::after {
      top: 50%;
      width: 40px;
      height: 1px;
      transform: scaleX(0.3);
      transform-origin: left center;
      opacity: 0.3;
    }

    &:hover::after {
      transform: scaleX(1);
      opacity: 1;
    }

    &:hover::before {
      opacity: 1;
      transform: translateX(0) rotate(30deg);
      transition-delay: 0.2s;
    }
  }
}

.home-footer {
  background-color: var(--color-bg-white);
}