// responsive done
/* -------------------- */
/* mypage */
/* -------------------- */
.mypage {
  &__index {
    width: 100vw;
    background-color: var(--color-bg-base);
    padding: $rem-40 0;

    @include mq('tab') {
      padding: $rem-40;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    width: 100%;
    padding-bottom: $rem-24;
    margin: 0 auto;
    background-color: var(--color-bg-white);

    @include mq('pc') {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  // profile（左側）
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $rem-8;
    width: 100%;
    height: 300px;
    padding: 0 $rem-16;
    text-align: center;
    border-bottom: solid 1px var(--color-border-base--light);

    @include mq('pc') {
      width: 300px;
      border-right: solid 1px var(--color-border-base--light);
    }
  }

  &__profile-info {
    display: flex;
    flex-direction: column;
    gap: $rem-4;
  }

  &__avatar-wrap {
    position: relative;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-border-base--light);
  }

  &__avatar-input {
    display: none;
  }

  &__avatar-upload {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  &__avatar-upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border-white);
    border-radius: 50%;
  }

  &__avatar-upload-svg {
    display: block;
    width: 30px;
    height: 30px;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
        stroke-width: 1.2;
      }
    }
  }

  &__name {
    font-size: $rem-20;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: $rem-4;
  }

  // contents（右側）
  &__contents-wrap {
    width: 100%;

    @include mq('pc') {
      width: calc(100% - 300px);
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;

    @include mq('pc') {
      height: 50px;
    }
  }

  &__nav-item {
    max-width: 150px;
    width: calc(100% / 3);
    height: 100%;
  }

  &__nav-link {
    display: block;
    height: 100%;
    font-size: $rem-12;
    line-height: 40px;
    text-align: center;
    border-top: solid 1px transparent;
    border-right: solid 1px var(--color-border-base--light);
    border-bottom: solid 1px var(--color-border-base--light);
    transition: background-color 0.3s ease;

    @include mq('pc') {
      font-size: 1rem;
      line-height: 50px;
    }

    &--last {
      @include mq('sp') {
        border-right: none;
      }
    }

    &.is-active {
      font-weight: bold;
      border-bottom: solid 4px var(--color-bg-primary);

      @include mq('pc') {
        border-bottom: solid 6px var(--color-bg-primary);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-gray);
        border-top: solid 1px var(--color-border-base--light);
      }
    }
  }

  &__contents {
    margin: $rem-24;
  }
}

// プロフィール画像プレビュー
.avatar-preview-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: var(--color-bg-modal);

  &__content {
    max-width: 300px;
    padding: $rem-32;
    background: var(--color-bg-white);
    border-radius: 12px;
    text-align: center;
  }

  &__img {
    width: 140px;
    height: 140px;
    margin: $rem-16 0;
    object-fit: cover;
    border-radius: 50%;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $rem-16;
  }

  &__button {
    padding: $rem-4 $rem-16;
    font-size: $rem-12;
    border: 1px solid var(--color-border-base);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  &__button--confirm {

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-primary--light);
      }
    }
  }
  
  &__button--cancel {

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-gray);
      }
    }
  }
}


/* -------------------- */
/* mypage: home */
/* -------------------- */

/* -------------------- */
/* mypage: favorite_author */
/* -------------------- */
.mypage__fav-authors {

  &__sort-links {
    display: flex;
    justify-content: flex-end;
    gap: $rem-8;
    margin-bottom: $rem-16;

    @include mq('pc') {
      gap: 0.75rem;
      margin: 0 1.5rem 1rem 0;
    }
  }

  &__sort-link {
    font-size: $rem-12;
    text-decoration: underline;
    text-underline-offset: 4px;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
      }
    }
  }

  &__item {
    padding: $rem-16;
    margin-bottom: $rem-16;
    border: 1px solid var(--color-border-base);
    border-radius: 8px;
  }

  &__name {
    display: inline-block;
    margin-bottom: $rem-4;
    font-weight: bold;
  }

  &__meta {
    margin-top: $rem-4;
    font-size: $rem-12;
    color: var(--color-font-gray);

    @include mq('pc') {
      font-size: 0.875rem;
    }
  }

  &__recent {
    margin-top: $rem-4;
  }
}

/* -------------------- */
/* mypage: citation */
/* -------------------- */
.mypage__citation {
  width: 100%;

  &__content {
    width: 100%;
  }
}