/* -------------------- */
/* mypage */
/* -------------------- */
.mypage {
  &__index {
    width: 100vw;
    background-color: var(--color-bg-base);
    padding: 40px 200px;
  }

  &__wrap {
    display: flex;
    background-color: var(--color-bg-white);
    margin: 0 auto;
  }

  &__profile {
    width: 300px;
    height: 400px;
    border-right: solid 1px var(--color-border-base--light);
    border-bottom: solid 1px var(--color-border-base--light);
  }

  &__contents-wrap {
    width: calc(100vw - 700px);
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__nav-item {
    width: 150px;
    height: 50px;
  }

  &__nav-link {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: solid 1px transparent;
    border-right: solid 1px var(--color-border-base--light);
    border-bottom: solid 1px var(--color-border-base--light);
    transition: background-color 0.3s ease;

    &.is-active {
      font-weight: bold;
      border-bottom: solid 6px var(--color-bg-primary);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-gray);
        border-top: solid 1px var(--color-border-base--light);
      }
    }
  }

  &__contents {
    margin: 24px;
  }
}

/* -------------------- */
/* mypage: home */
/* -------------------- */

/* -------------------- */
/* mypage: favorite_author */
/* -------------------- */

/* -------------------- */
/* mypage: citation */
/* -------------------- */