.article-legal {
  background-color: var(--color-bg-white);
  padding: 40px 32px;

  &__container {
    background-color: var(--color-bg-base);
    padding: 40px 24px;
  }

  &__intro {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 20px;
    padding: 8px 16px;
    border-left: 6px solid var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-base--light);
    margin: 24px 0 16px 0;
  }

  &__list {
    list-style: decimal;
    margin: 12px 0 24px 32px;
  }

  &__item {
    padding-left: 6px;
    margin-bottom: 12px;
  }

  &__item::marker {
    font-weight: bold;
  }

  &__sub-list {
    list-style: decimal;
    margin: 12px 0 24px 32px;
  }

  &__sub-item {
    font-size: 14px;
    padding-left: 6px;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__date {
    text-align: right;
    margin-top: 32px;
  }
}