// responsive done
.article-legal {
  padding: $rem-40 $rem-16;
  background-color: var(--color-bg-white);

  @include mq('tab-up') {
    padding: $rem-40 $rem-32;
  }

  &__container {
    padding: $rem-40 0;
    background-color: var(--color-bg-base);
  }

  &__intro {
    margin-bottom: $rem-24;
  }

  &__title {
    padding: $rem-4 $rem-12;
    margin: $rem-24 0 $rem-16 0;
    font-size: $rem-16;
    border-left: 6px solid var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-base--light);

    @include mq('tab-up') {
      padding: $rem-8 $rem-16;
      font-size: 1.25rem;
    }
  }

  &__list {
    margin: $rem-12 0 $rem-24 $rem-20;
    list-style: decimal;

    @include mq('tab-up') {
      margin: $rem-12 0 $rem-24 $rem-32;
    }
  }

  &__item {
    padding-left: 6px;
    margin-bottom: $rem-12;
  }

  &__item::marker {
    font-weight: bold;
  }

  &__sub-list {
    margin: $rem-12 0 $rem-24 $rem-20;
    list-style: decimal;

    @include mq('tab-up') {
      margin: $rem-12 0 $rem-24 $rem-32;
    }
  }

  &__sub-item {
    padding-left: 6px;
    margin-bottom: $rem-8;
    font-size: $rem-14;
  }

  &__text {
    margin-bottom: $rem-12;
  }

  &__date {
    margin-top: $rem-32;
    text-align: right;
  }
}