<% if flash[:alert].present? || resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% if flash[:alert].present? %>
      <h2 class="c-devise__error-message"><%= flash[:alert] %></h2>
    <% end %>

    <% if resource.errors.any? %>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li class="c-devise__error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>