<%# 作品登録完了モーダル %>
<div class="c-register-success-modal">
  <div class="c-register-success-modal__content">
    <p><%= message %></p>
    <button class="c-register-success-modal__close">閉じる</button>
  </div>
</div>