<div class="mypage__index">
  <div class="mypage__wrap">
    <section class="mypage__profile">
      <%# プロフィール画像とユーザー名表示 %>
      <%= link_to "アカウント情報編集", edit_user_registration_path %>
    </section>

    <section class="mypage__contents">
      <ul class="mypage__nav">
        <li class="mypage__home-link"></li>
        <li class="mypage__favorite-author-link"></li>
        <li class="mypage__citation-link"></li>
      </ul>

      <%# ここからページ固有↓ %>
      <div class="mypage__home">
      </div>
      <%# ここまでページ固有↑ %>
    </section>
  </div>
</div>