.is-shown-block {
  display: block !important;
}

.is-shown-flex {
  display: flex !important;
}

.is-hidden {
  display: none !important;
}

.u-flex {
  display: flex;
}

.u-inline-block {
  display: inline-block;
}

// .u-mt-16などもここ