html {
  font-size: 87.5%; // 1rem = 14px
  @include mq("tab-up") {
    font-size: 100%; // 1rem = 16px
  }
}

body {
  line-height: 1.5;
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  font-family: var(--font-family-base);
}

*, *::before, *::after {
  box-sizing: border-box;
}