html {
  background-color: var(--color-bg-white);
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
}

*, *::before, *::after {
  box-sizing: border-box;
}