<div class="home-kv">

</div>

<section class="home__about l-container--m">
  <div class="home-about__inner l-section">
    <h2 class="c-title-level1 c-title-level1--center">
      About
    </h2>
  </div>
</section>

<section class="home-search l-container--m">
  <div class="home-search__inner l-section">
    <h2 class="c-title-level1 c-title-level1--center">
      探してみる
    </h2>
    <%= form_with url: search_index_path, method: :get, local: true do |form| %>
    <div class="search-box">
      <%= form.label :q, "本を検索" %>
      <%= form.text_field :q, placeholder: "書籍名・著者名など" %>
      <%= form.submit "検索" %>
    </div>
<% end %>

  </div>
</section>