<div class="home-kv">

</div>

<section class="home__about l-container--m">
  <div class="home-about__inner l-section">
    <h2 class="c-title-level1 c-title-level1--center">
      About
    </h2>
  </div>
</section>

<section class="home-search l-container--m">
  <div class="home-search__inner l-section">
    <h2 class="c-title-level1 c-title-level1--center">
      探してみる
    </h2>
  </div>
</section>