.footer {
  font-family: var(--font-family-base);
  
  &__inner {
  text-align: center;
  padding: 2.28rem 1.14rem;
}

  &__nav {
    margin-bottom: 1.14rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.14rem;
  }

  &__link {

    @include mq('tab-up') {
      font-size: 0.875rem;
    }
    
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}