.footer {
  font-family: var(--font-family-base);
  
  &__inner {
  text-align: center;
  padding: 32px 16px;
}

  &__nav {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__link {
    font-size: 14px;
    
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}