.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-bg-white);

  &__inner {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.85rem;

    @include mq('tab-up') {
      height: 64px;
      padding: 0 1.5rem;
    }
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__logo-svg {
    display: block;
    width: auto;
    height: 32px;

    @include mq('tab-up') {
      height: 40px;
    }
  }

  &__nav {
    height: 100%;
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item-link {
    display: block;
    line-height: 48px;
    padding: 0 0.85rem;
    transition: background-color 0.5s ease;

    @include mq('tab-up') {
      line-height: 64px;
      padding: 0 1.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-primary--light);
      }
    }
  }

  &__item--search {
    margin-right: 16px;
  }
}