.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-bg-white);

  &__inner {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  &__logo {
    height: 100%;
  }

  &__logo-link {
    display: block;
    font-size: 32px;
    line-height: 64px;
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item-link {
    display: block;
    line-height: 64px;
    font-size: 16px;
    padding: 0 24px;
    transition: background-color 0.5s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-primary--light);
      }
    }
  }

  &__item--search {
    margin-right: 16px;
  }
}