main {
  height: auto;
  margin-top: 48px;
  overflow: visible;
  scroll-snap-type: none;
  scroll-behavior: auto;

  @include mq('tab-up') {
    margin-top: 64px;
  }
}

/* -------------------- */
/* container */
/* -------------------- */
.l-container {
  &--xs,
  &--s,
  &--m,
  &--l {
    width: 90%;
    margin: 0 auto;
  }

  &--xs {
    max-width: var(--width-content-xs);
  }

  &--s {
    max-width: var(--width-content-s);
  }

  &--m {
    max-width: var(--width-content-m);
  }

  &--l {
    max-width: var(--width-content-l);
  }
}

/* -------------------- */
/* section */
/* -------------------- */
.l-section {
  padding: 32px 16px;
}

.l-section-body {
  height: 100%;
  padding: 24px 0;
}

/* -------------------- */
/* article */
/* -------------------- */
.l-article {
  padding: 40px 16px;
}

.l-article-body {
  padding-top: 32px;
}

/* -------------------- */
/* margin, padding */
/* -------------------- */
.l-mb-16 {
  margin-bottom: 16px;
}

.l-mb-32 {
  margin-bottom: 32px;
}

.l-mb-40 {
  margin-bottom: 40px;
}