main {
  padding-top: var(--header-height);
}

/* -------------------- */
/* container */
/* -------------------- */
.l-container {
  &--s,
  &--m,
  &--l {
    width: 90%;
    margin: 0 auto;
  }

  &--s {
    max-width: var(--width-content-s);
  }

  &--m {
    max-width: var(--width-content-m);
  }

  &--l {
    max-width: var(--width-content-l);
  }
}

/* -------------------- */
/* section */
/* -------------------- */
.l-section {
  padding: 32px 16px;
}

.l-section-body {
  padding: 24px 0;
}

/* -------------------- */
/* article */
/* -------------------- */
.l-article {
  padding: 32px 16px;
}

.l-article-body {
  padding: 16px 0;
}

/* -------------------- */
/* margin, padding */
/* -------------------- */
.l-mb-16 {
  margin-bottom: 16px;
}

.l-mb-32 {
  margin-bottom: 32px;
}

.l-mb-40 {
  margin-bottom: 40px;
}