<% content_for :title, "このサイトについて - Yomitsuzuri" %>
<% content_for :og_title, "このサイトについて - Yomitsuzuri" %>

<div class="article-legal__container">
  <div class="l-container--xs">
    <article class="article-legal l-article">
      <h1 class="c-title-level1 c-title-level1--center">
        このサイトについて
      </h1>

      <section class="article-legal__content l-article-body">
        <h2 class="article-legal__title">
          このサイトができるまで
        </h2>

        <p class="article-legal__text article-legal__text--spaced">
          製作者である私は本が好きで、特にお気に入りの著者に出会うと、その作品をひとつずつ読み進めていくのが、日々の楽しみのひとつです。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          大好きな本たちを自分の本棚のように眺められて、いつ書かれたのか、どれを読んだのかがひと目で分かる。そんな場所が欲しいと、ずっと思っていました。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          本を年代順に並べることで、作品同士のつながりが見えたり、新たな発見が生まれたりもします。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          そしてもうひとつ。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          読書メモを記録できるサービスはたくさんあります。でもその多くは、感想を共有したり、いいねをしたり、SNS的な設計が前提になっています。そういう場所ではどうしても、文章の美しさ、他人の感想などが気になってしまうのです。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          私が欲しかったのは、もっとパーソナルで、誠実で、濃密な、自分のためにことばを残していける場所でした。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          だからこのアプリには、
          <span class="article-legal__span">－ 本を著者ごとの作品年表のように整理できること</span>
          <span class="article-legal__span">－ SNS機能は一切なし。本と自分だけの読書記録であること</span>
          という2つの核を持たせました。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          読書を “誰かに見せる” ためではなく、“自分に向き合う” ために。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          読綴 -Yomitsuzuri- は、本と自分との1対1の静かな関係を大切にしたい人のための、著者フォーカス型読書記録アプリです。
        </p>

        <h2 class="article-legal__title">
          フィードバックのお願い
        </h2>
        <p class="article-legal__text article-legal__text--spaced">
          このサイトはまだまだ発展途上で、今後、現状の機能の改善や新たな機能の追加をしていく予定です。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          追加してほしい機能や気づいたこと、使用してみた感想など、どんな些細なことでも構いませんので、お問い合わせフォームからご連絡いただけると非常に励みになります。
        </p>
        <p class="article-legal__text article-legal__text--spaced">
          ご覧いただきありがとうございます。この場所が、あなたの読書体験の一助となりますように。
        </p>
      </section>
    </article>
  </div>
</div>