<div class="article-legal__container l-container--s">
  <article class="article-legal l-article">
    <h2 class="c-title-level1 c-title-level1--center">
      お問い合わせ
    </h2>

    <p class="article-legal__text l-article-body">
      本文
    </p>
  </article>
</div>