/* -------------------- */
/* color */
/* -------------------- */
:root {
  // bg
  --color-bg-base: #f7f1ea;
  --color-bg-primary: #d88e36;
  --color-bg-primary--light: rgba(216, 142, 54, 0.7);
  --color-bg-reading-progress: #5dac81;
  --color-bg-white: #fff;
  --color-bg-gray: #f4f4f4;
  --color-bg-dark: #2a2a28;
  --color-bg-modal: rgba(0, 0, 0, 0.4);
  --color-bg-flash: #434343;
  // border
  --color-border-base: #3e3e3e;
  --color-border-base--light: #ccc;
  --color-border-black: #000;
  --color-border-white: #fff;
  --color-border-accent: #2e5c6e;
  // font
  --color-font-base: #3e3e3e;
  --color-font-black: #000;
  --color-font-white: #fff;
  --color-font-gray: #574141;
  --color-font-accent: #1e3b47;
  --color-font-accent--light: #2e5c6e;
  --color-font-caution: #cc543a;
  --color-font-read: #2d6d4b;
  --color-font-unread: #ca7a2c;
  --color-font-stacked: #1565c0;
}

/* -------------------- */
/* font */
/* -------------------- */
:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-serif: "Noto Serif JP", serif;
  --font-family-number: "Kameron", serif;
}

/* -------------------- */
/* content width */
/* -------------------- */
:root {
  --width-content-xs: 768px;
  --width-content-s: 960px;
  --width-content-m: 1080px;
  --width-content-l: 1200px;
}

/* -------------------- */
/* breakpoints */
/* -------------------- */
$breakpoints: (
	"sp": "screen and (max-width: 767px)",
	"tab": "screen and (min-width: 768px) and (max-width: 1019px)",
	"pc": "screen and (min-width: 1020px)",
  "tab-up": "screen and (min-width: 768px)",
);

/* -------------------- */
/* height */
/* -------------------- */
:root {
  --header-height: 64px;
}