.c-button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 1.0;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &--x-small {
    max-width: 60px;
    height: 30px;
    font-size: 12px;
  }

  &--small {
    max-width: 130px;
  }

  &--medium {
    max-width: 200px;
  }

  &--white {
    border: 1px solid var(--color-border-base);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-bg-primary--light);
      }
    }
  }

  &--blue {
    color: var(--color-font-accent);
    border: 1px solid var(--color-border-accent);
  }

  &--center {
    margin: 0 auto;
  }
}

.c-link {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 4px;

  @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
      }
    }
}

.c-back-link {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 4px;

  @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
      }
    }
}

.c-delete-link {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 4px;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-font-black);
    }
  }
}