/* -------------------- */
/* c-citation */
/* -------------------- */
.c-citation {
  background-color: var(--color-bg-gray);
  border-left: 4px solid var(--color-border-base--light);
  padding: 12px 16px;
  margin: 16px 0;
  border-radius: 4px;
  position: relative;

  &__text {
    font-style: italic;
    font-size: 14px;
    color: car(--color-font-black);
  }

  &__date {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 12px;
    color: var(--color-font-gray);
  }
}

/* -------------------- */
/* c-citation-form */
/* -------------------- */
.c-citation-form {
  margin-top: 32px;
  padding: 0 32px;

  &__field {
    margin-bottom: 8px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
  }

  &__textarea {
    width: 100%;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    resize: vertical;

    &:focus {
      border: 1px solid var(--color-border-base);
    }
  }

  &__submit {
    margin-top: 8px;
  }
}