/* -------------------- */
/* c-delete-modal */
/* -------------------- */
.c-delete-modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-modal);
  z-index: 9999;

  &__content {
    background: var(--color-bg-white);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    text-align: center;
  }

  &__text--small {
    font-size: 14px;
    margin-top: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
  }

  &__btn {

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}