.c-devise {
  &__container {
    padding: 32px 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
  }

  &__inner {
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    margin: 0 auto;
    padding: 32px;
  }

  &__input-title {
    display: inline-block;
    font-size: 16px;
    margin: 0 0.5rem 4px 0;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    padding: 8px 40px 8px 8px;
    margin-bottom: 16px;
  }

  &__password-wrap {
    position: relative;
  }

  &__toggle-password {
    position: absolute;
    right: 8px;
    top: 8px;
    // transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  &__svg {
    display: block;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
      }
    }
  }

  &__remember-me {
    display: block;
    margin-bottom: 16px;
  }

  &__note {
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__link-wrapper {
    
  }

  &__link-wrapper--centered {
    text-align: center;
  }

  &__link-wrapper--right-aligned {
    text-align: right;
  }

  &__link-wrapper--spaced {
    margin-top: 16px;
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    border-bottom: 1px solid var(--color-border-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-border-black);
      }
    }
  }
}