// responsive done
.c-edit-form {

  @include mq('tab-up') {
    padding: 0 2rem;
  }

  &__field {
    margin-bottom: $rem-8;
  }

  &__label {
    display: block;
    margin-bottom: $rem-4;
  }

  &__textarea {
    width: 100%;
    padding: $rem-8;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    resize: vertical;

    @include mq('tab-up') {
      font-size: 0.875rem;
    }

    &:focus {
      border: 1px solid var(--color-border-base);
    }
  }

  &__flex {
    display: flex;
    align-items: flex-end;
    gap: $rem-24;

    .c-edit-form__field {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 120px;
    padding: $rem-8;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;

    @include mq('tab-up') {
      font-size: 0.875rem;
    }

    &:focus {
      border: 1px solid var(--color-border-base);
    }
  }

  &__submit {
    margin-top: $rem-8;
  }
}