// responsive done
.c-published-date {
  &__label {
    display: inline-block;
    margin: $rem-8 0 $rem-4 0;
    color: var(--color-font-gray);

    @include mq('tab-up') {
      font-size: 0.875rem;
    }
  }

  &__selects {
    display: flex;
    align-items: flex-end;
    gap: $rem-8;
  }

  &__select {
    font-size: $rem-12;
    padding: 2px $rem-8;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--color-border-base);
      }
    }
  }

  &__submit {
    font-size: $rem-12;
    border-bottom: 1px solid var(--color-border-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }
}