// responsive done
// 読書状況
.c-status-label {
  &__wrap {
    display: flex;
    align-items: center;
  }

  &__status {
    display: inline-block;
    padding: 0 $rem-4;
    font-size: $rem-12;
    font-weight: normal;
    letter-spacing: 0.08em;
    border-radius: 4px;

    &--read {
      color: var(--color-font-read);
      border: 1px solid var(--color-font-read);
    }

    &--unread {
      color: var(--color-font-unread);
      border: 1px solid var(--color-font-unread);
    }

    &--stacked {
      color: var(--color-font-stacked);
      border: 1px solid var(--color-font-stacked);
    }

    &--unset {
      color: var(--color-font-base);
      border: 1px solid var(--color-font-base);
    }
  }
}

// 読書状況変更ボタン
.c-status-edit {
  &__wrap {
    position: relative;
  }

  &__icon {
    margin-left: $rem-4;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon-svg {
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
      }
    }
  }

  &__form {
    align-items: flex-end;
    gap: $rem-8;
    position: absolute;
    top: -8px;
    left: 40px;
    z-index: 10;
    font-size: $rem-12;
  }

  &__submit {
    font-size: $rem-12;
    border-bottom: 1px solid var(--color-border-base);

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }
}