// 読書状況
.c-status-label {
  &__wrap {
    display: flex;
    align-items: center;
  }

  &__status {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.08em;
    border-radius: 4px;
    padding: 0 4px;

    &--read {
      color: var(--color-font-read);
      border: 1px solid var(--color-font-read);
    }

    &--unread {
      color: var(--color-font-unread);
      border: 1px solid var(--color-font-unread);
    }

    &--stacked {
      color: var(--color-font-stacked);
      border: 1px solid var(--color-font-stacked);
    }

    &--unset {
      color: var(--color-font-base);
      border: 1px solid var(--color-font-base);
    }
  }
}

// 読書状況変更ボタン
.c-status-edit {
  &__wrap {
    position: relative;
  }

  &__icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 4px;
  }

  &__icon-svg {
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
      }
    }
  }

  &__form {
    font-size: 14px;
    position: absolute;
    top: 10%;
    left: 32px;
    z-index: 10;
  }

  &__submit {
    font-size: 12px;
    border-bottom: 1px solid var(--color-border-base);
    margin-left: 24px;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        border-bottom: 1px solid var(--color-font-black);
      }
    }
  }
}