// responsive done
/* -------------------- */
/* register-modal */
/* -------------------- */
.c-register-modal {
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-modal);

  &__wrap {
    max-width: 700px;
    width: 85%;
    max-height: 90vh;
    padding: $rem-24;
    background-color: var(--color-bg-white);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow-y: auto;

    @include mq('tab-up') {
      width: 100%;
      padding: 2rem;
    }
  }

  &__title {
    padding-bottom: $rem-4;
    margin-bottom: $rem-8;
    font-weight: normal;
    border-bottom: 1px solid var(--color-border-base--light);
  }

  &__book-info {
    display: flex;
    flex-direction: column;
    gap: $rem-8;
    margin: $rem-12 0;

    @include mq('tab-up') {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;
      margin: 1rem 0;
    }
  }

  &__book-title {
    font-size: $rem-16;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $rem-24;
    margin-top: $rem-8;

    @include mq('tab-up') {
      flex-direction: row;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $rem-4;
    width: 100%;
  }

  &__textarea-wrap {
    width: 100%;
  }

  &__label {
    display: inline-block;
    margin: 0 $rem-8 $rem-4 0;
  }

  &__textarea {
    width: 100%;
    height: 80px;
    padding: $rem-8;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;

    &:focus {
      border: solid 1px var(--color-border-base);
    }
  }

  &__input-wrap {
    display: flex;
    align-items: flex-end;
    margin: $rem-8 0;
  }

  &__input {
    width: 100px;
    padding: $rem-4 $rem-8;
    font-size: $rem-12;
    border: 1px solid var(--color-border-base--light);
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;

    &:focus {
      border: 1px solid var(--color-border-base);
    }
  }

  &__book-image {
    width: 120px;
    height: 100%;
    margin:0 auto;

    @include mq('tab-up') {
      margin: 0;
    }
  }

  &__select-wrap {
    display: inline-block;
    position: relative;

    &::after {
      content: "⌄";
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-70%);
      font-size: $rem-12;
      line-height: 1.0;
      color: var(--color-font-base);
      pointer-events: none;
    }
  }

  &__status {
    font-size: $rem-12;
    height: 28px;
    padding: 2px $rem-20 2px $rem-8;
    appearance: none;
    -moz-appearance: none;
    border: solid 1px var(--color-border-base--light);
    border-radius: 4px;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        border: solid 1px var(--color-border-base);
      }
    }
  }

  &__submit {
    margin-top: $rem-16;
  }

  &__close {
    color: var(--color-font-base);
    margin-top: $rem-16;

    @include mq('tab-up') {
      margin: 0 0 0 1rem;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}

/* -------------------- */
/* register-success-modal */
/* -------------------- */
.c-register-success-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-modal);

  &__content {
    max-width: 80%;
    padding: $rem-32;
    background: var(--color-bg-white);
    text-align: center;
    border-radius: 10px;
  }

  &__close {
    margin-top: $rem-8;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}