// responsive done
.c-search {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
  font-family: var(--font-family-base);
  background-color: var(--color-bg-white);

  @include mq('tab-up') {
    height: 40px;
  }

  &--center {
    justify-content: center;
  }

  &__wrap {
    display: inline-block;
    position: relative; //.c-search__warning-wrapに対して
  }

  &__form {
    position: relative;
  }

  &__inline-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    font-size: 0.85rem;
    color: var(--color-font-caution);
    transition: opacity 0.3s ease;
    opacity: 1;

    &.is-fading-out {
      opacity: 0;
    }
  }

  &__warning-wrap {
    position: absolute; //.c-search__wrapに対して
    left: -148px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__warning {
    display: inline-block;
    position: relative;
    width: 120px;
    margin-right: 1.14rem;
    padding: 0.29rem;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: var(--color-font-caution);
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-font-caution);
    border-radius: 0.29rem;
    transition: opacity 0.5s ease;
    opacity: 1;

    @include mq('tab-up') {
      font-size: 0.75rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      border-style: solid;
      border-width: 4px 0 4px 16px;
      border-color: transparent transparent transparent var(--color-font-caution);
      translate: 100% -50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      border-style: solid;
      border-width: 3px 0 3px 11.9px;
      border-color: transparent transparent transparent var(--color-border-white);
      translate: 100% -50%;
    }

    &.is-fading-out {
      opacity: 0;
    }
  }

  &__text-field {
    display: block;
    width: 300px;
    height: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border: solid 1px var(--color-border-base--light);
    border-right: none;

    @include mq('sp') {
      width: 280px;

      &.is-closed {
        display: none;
      }
    }

    &:focus {
      border: solid 1px var(--color-border-base);
    }
  }
  
  &__submit-btn {
    display: block;
    height: 100%;
    padding: 0 0.28rem;
    border: solid 1px var(--color-border-base--light);
    transition: background-color 0.5s ease, color 0.5s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-white);
        background-color: var(--color-bg-base);
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -28px;
  }

  &__close-svg {
    display: block;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-black);
        stroke: var(--color-font-black);
        stroke-width: 1.2;
      }
    }
  }
}