/* -------------------- */
/* title: home */
/* -------------------- */
.c-title-home {
  font-family: var(--font-family-serif);
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.1em;
}

/* -------------------- */
/* title: level1 */
/* -------------------- */
.c-title-level1 {
  font-size: 24px;

  &--center {
    text-align: center;
  }
}

.c-title-level2 {
  font-size: 20px;
}