/* -------------------- */
/* title: home */
/* -------------------- */
.c-title-home {
  font-family: var(--font-family-serif);
  font-size: $rem-24;
  font-weight: normal;
  letter-spacing: 0.1em;

  @include mq('tab-up') {
    font-size: 2rem;
  }
}

/* -------------------- */
/* title: level1 */
/* -------------------- */
.c-title-level1 {
  font-size: $rem-20;

  @include mq('tab-up') {
    font-size: 1.5rem;
  }

  &--center {
    text-align: center;
  }
}

.c-title-level2 {
  font-size: 20px;
}