.c-works {
  display: grid;

  &--3columns {
    grid-template-columns: repeat(1, 1fr);
    gap: $rem-24;

    @include mq('tab') {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }

    @include mq('pc') {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }

  &--4columns {
    grid-template-columns: repeat(1, 1fr);
    gap: $rem-8;

    @include mq('tab') {
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }

    @include mq('pc') {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }

  &__item {
    display: flex;
  }

  &__item--3columns {
    gap: $rem-12;
    position: relative;

    @include mq('tab') {
      flex-direction: column;
      gap: 0.5rem;
    }

    @include mq('pc') {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__item--4columns {
    gap: $rem-12;

    @include mq('tab') {
      flex-direction: column;
      gap: 0.5rem;
    }

    @include mq('pc') {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__image {
    display: block;
  }

  &__image--3columns {
    width: 80px;
    height: auto;
    margin: 0 auto;

    @include mq('tab') {
      width: 112px;
      height: 160px;
    }

    @include mq('pc') {
      width: 120px;
      height: 190px;
    }
  }

  &__image--4columns {
    width: 80px;
    margin: 0 auto;

    @include mq('tab') {
      width: 112px;
    }

    @include mq('pc') {
      width: 120px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info--3columns {
    width: calc(100% - 88px);
    flex: 1;

    @include mq('tab') {
      width: 100%;
    }

    @include mq('pc') {
      width: 100%;
    }
  }

  &__info--4columns {
    width: calc(100% - 88px);
    flex: 1;

    @include mq('tab') {
      width: 100%;
    }

    @include mq('pc') {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: 1.0;
  }

  &__title--3columns {
    margin-bottom: $rem-8;
    font-size: $rem-16;
    line-height: 1.2;

    @include mq('tab') {
      font-size: 1rem;
    }

    @include mq('pc') {
      font-size: 1rem;
    }
  }

  &__title--4columns {
    margin-bottom: $rem-8;
    font-size: $rem-16;

    @include mq('tab') {
      font-size: 1rem;
    }

    @include mq('pc') {
      font-size: 1rem;
    }
  }

  &__title--link {
    display: inline-block;
    padding-bottom: 1px;
    color: var(--color-font-accent--light);
    text-decoration: none;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-accent);
        text-decoration: underline;
      }
    }
  }

  &__author {

  }

  &__author--3columns {
    margin-bottom: $rem-12;

    @include mq('tab') {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
    }

    @include mq('pc') {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
    }
  }

  &__author--4columns {
    margin-bottom: $rem-12;

    @include mq('tab') {
      margin-bottom: 0.25rem;
      font-size: 0.75rem;
    }

    @include mq('pc') {
      margin-bottom: 0.25rem;
      font-size: 0.75rem;
    }
  }

  &__author--link {
    display: inline-block;
    padding-bottom: 1px;
    color: var(--color-font-accent--light);
    text-decoration: none;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-accent);
        text-decoration: underline;
      }
    }
  }

  &__read-at {
    font-size: $rem-12;

    @include mq('tab') {
      display: none;
    }

    @include mq('pc') {
      display: none;
    }
  }

  &__published_date {

  }

  &__published_date--3columns {
    margin-bottom: $rem-16;

    @include mq('tab') {
      font-size: 0.875rem;
    }

    @include mq('pc') {
      font-size: 0.875rem;
    }
  }

  &__btn--3columns {
    @include mq('tab') {
      margin: 0 auto;
    }

    @include mq('pc') {
      margin: 0 auto;
    }
  }
}