@charset "utf-8";

@import url("https://unpkg.com/ress/dist/ress.min.css");

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* -------------------- */
/* custom properties */
/* -------------------- */
/* color */
:root {
  /* bg */
  --color-bg-base: #efe8e0;
  --color-bg-primary: #d88e36;
  --color-bg-primary--light: rgba(216, 142, 54, 0.7);
  --color-bg-white: #fff;
  /* border */
  --color-border-base: #3e3e3e;
  --color-border-base--light: rgba(62, 62, 62, 0.3);
  --color-border-black: #000;
  --color-border-white: #fff;
  /* font */
  --color-font-base: #3e3e3e;
  --color-font-accent: #2e5c6e;
  --color-font-black: #000;
  --color-font-white: #fff;
}

/* content width */
:root {
  --width-content-s: 960px;
  --width-content-m: 1080px;
  --width-content-l: 1200px;
}

/* font */
:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
}

/* -------------------- */
/* reset css */
/* -------------------- */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------- */
/* style */
/* -------------------- */
html {
  background-color: var(--color-bg-white);
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
}

/* -------------------- */
/* layout */
/* -------------------- */

/* layout -> container */
.l-container--s,
.l-container--m,
.l-container--l {
  width: 90%;
  margin: 0 auto;
}

.l-container--s {
  max-width: var(--width-content-s);
}

.l-container--m {
  max-width: var(--width-content-m);
}

.l-container--l {
  max-width: var(--width-content-l);
}

/* layout -> section */
.l-section {
  padding: 32px 16px;
}

/* layout -> article */
.l-article {
  padding: 32px 16px;
}

.l-article-body {
  padding: 16px 0;
}

/* -------------------- */
/* components */
/* -------------------- */
/* button */
.c-button {
  display: grid;
  place-items: center;
  max-width: 200px;
  width: 100%;
  height: 40px;
  line-height: 1.0;
  border-radius: 4px;
}

.c-button--white {
  border: 1px solid var(--color-border-base);
}

@media (any-hover: hover) {
  .c-button--white:hover {
    background-color: var(--color-bg-primary--light);
    transition: 0.5s;
  }
}

.c-button--center {
  margin: 0 auto;
}

/* title -> level1 */
.c-title-level1 {
  font-size: 24px;
}

.c-title-level1--center {
  text-align: center;
}

/* works */
.c-works__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.c-works {
  width: 100%;
  height: 100%;
  display: flex;
  border-right: 1px solid var(--color-border-base--light);
}

.c-works__image {
  display: block;
  width: 50%;
}

.c-works__text {
  width: 50%;
  border-bottom: 1px solid var(--color-border-base--light);
  padding: 0 8px;
}

/* devise */
.c-devise__container {
  padding: 32px 16px;
}

.c-devise__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.c-devise__inner {
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--color-border-base--light);
  border-radius: 4px;
  margin: 0 auto;
  padding: 32px;
}

.c-devise__input-title {
  display: inline-block;
  font-size: 16px;
  margin: 0 0.5rem 4px 0;
}

.c-devise__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-border-base--light);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}

.c-devise__remember-me {
  display: block;
  margin-bottom: 16px;
}

.c-devise__note {
  font-size: 12px;
  margin-bottom: 16px;
}

.c-devise__link-wrapper--centered {
  text-align: center;
}

.c-devise__link-wrapper--right-aligned {
  text-align: right;
}

.c-devise__link-wrapper--spaced {
  margin-top: 16px;
}

.c-devise__link {
  display: inline-block;
  font-size: 12px;
  border-bottom: 1px solid var(--color-border-base);
}

@media (any-hover: hover) {
  .c-devise__link:hover {
    color: var(--color-font-black);
  }
}

/* -------------------- */
/* header */
/* -------------------- */
.header__inner {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.header__logo {
  height: 100%;
}

.header__logo a {
  display: block;
  font-size: 32px;
  line-height: 64px;
}

.header__list {
  height: 100%;
  display: flex;
}

.header__item a {
  display: block;
  line-height: 64px;
  font-size: 16px;
  padding: 0 24px;
}

@media (any-hover: hover) {
  .header__item a:hover {
    background-color: var(--color-bg-primary--light);
    transition: 0.5s;
  }
}

/* -------------------- */
/* footer */
/* -------------------- */
.footer__inner {
  text-align: center;
  padding: 32px 16px;
}

.footer__nav {
  margin-bottom: 16px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (any-hover: hover) {
  .footer__item a:hover {
    text-decoration: underline;
  }
}

/* -------------------- */
/* search-result */
/* -------------------- */
.register-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.register-modal__content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media (any-hover: hover) {
  .register-modal__close:hover {
    color: var(--color-font-black);
}
}
