<%# TODO confirmable モジュールを使っていて、新規登録後にユーザーがメールで確認リンクをクリックすることで本登録される場合 %>
<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
